:root {
  --heading-font-family: "Playfair Display", serif;
  --branding-color: #6c63ff;
  --accent-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--accent-font-family);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: 700;
  font-size: 96px;
  color: black;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

h2 {
  font-size: 64px;
}

.content-container h2 {
  font-family: var(--accent-font-family);
  font-size: 18px;
}

.content h3 {
  font-family: var(--accent-font-family);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: var(--accent-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}

.content-container p {
  font-family: var(--accent-font-family);
  font-size: 16px;
  font-weight: 400;
}

.work-para {
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-align: center;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}

.content-container {
  padding: 100px 60px;
}

.content {
  margin: 20px;
}

.location {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: #272142;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  font-size: 15px;
  padding: 18px 30px;
  border-radius: 4px;
}

.based-text {
  font-size: 24px;
  line-height: 2;
}

.btn-branding-outline {
  color: var(--branding-color);
  font-size: 15px;
  padding: 18px 30px;
  border-radius: 4px;
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 120px 60px;
}

.about-image {
  border-radius: 4px;
}

nav {
  padding: 20px 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #272142b2;
  transition: all 100ms ease-in-out;
}

.nav-links a:hover {
  color: #6c63ff;
}

footer .email-link {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  font-size: 18px;
  margin: 0 20px;
  /* padding: 10px 14px; */
  color: var(--branding-color);
  background-color: rgba(108, 99, 255, 0.05);
  text-decoration: none;
  border-radius: 50%;
}
footer .social-links a:hover {
  transition: all 100ms ease-in-outs;
  color: white;
  background-color: var(--branding-color);
}

.footer-inquiry {
  background: #f9f7fe;
  padding: 30px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  .content-container {
    text-align: center;
    padding: 30px 20px;
  }

  .hero {
    padding: 80px 20px;
  }

  .based-text {
    font-size: 14px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
